/* CONTACT PAGE**************************************************/
.contact-wrap{
    margin: 50px 0;
}
.contact-form .form-group label{
    font-size: 16px;
}
.contact-wrap .contact-form .form-group label span{
    color: red;
}
.contact-form .form-group input{
    width: 100%;
    height: 45px;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 0;
    border: none;
    background: #F6F7FB;
}
.contact-form .form-group textarea{
    padding: 10px 20px;
    border-radius: 0;
    border: none;
    background: #F6F7FB;
    resize: none;
}
.contact-form button.submit{
    padding: 0 20px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    border: none;
    outline: none;
    color: white;
    background: #f5a623;
}
.contact-form button.submit:hover{
    background: #cf111a;
}
.contact-info{
    padding: 10px 20px;
    border: 1px solid #dbdbdb;
}
.contact-info span.contact-info-title{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}
.contact-info ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-info ul li{
    margin-bottom: 10px;
}
.contact-info ul li i{
    color: #cf111a;
    float: left;
    width: 24px;
    line-height: 24px;
}
/*End CONTACT PAGE***********************************************/