/***************************************************************/
/* NEWS PAGE**************************************************/
.news-wrap{
    margin: 50px 0;
}
.news-item{
    margin-bottom: 35px;
}
.news-item img{
    height: 234px;
}
.news-item .tin-tuc-caption{
    padding: 5px;
}
.news-item .tin-tuc-calendar{
    font-size: 12px;
    margin-bottom: 10px;
    color: #b3b3b3;
}
.news-item .news-title{
    font-size: 16px;
    font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.news-item a{
    display: block;
}
.news-item a:hover .news-title{
    color: #cf111a;
}


/*End NEWS PAGE***********************************************/